// Réseau 1 - Domicile (tests)
#define WIFI_SSID_1 "ALICANTO-NETWORK"
#define WIFI_PASSWORD_1 "ALICANTO"

// Réseau 2 - Belin (déploiement final)
#define WIFI_SSID_2 "Belin"
#define WIFI_PASSWORD_2 "Belin1997!"

#define GYRO_SCRIPT_URL "https://script.google.com/macros/s/AKfycbyOXmQnGRqAmgJY5KZiub6csKPpGR7yNMNoW5j7nHWh7BbP5wdZG_k6PShB-nQTlFUwTA/exec"
